<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educación - Francisco Esparza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Educación</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/educacion">Educación</a></li>
            <li><a href="/experiencias">Experiencias</a></li>
            <li><a href="/quien_soy">Quién Soy</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>

    <section>
        <p>Licenciatura en Ciencia Política en la Universidad Nacional del Litoral.</p>
        <!-- Agrega más información sobre educación -->
    </section>

    <footer>
        <p>&copy; 2024 Francisco Esparza. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

